<h1>Editing Service Company</h1>

<%= render 'form', service_company: @service_company %>

<%= link_to 'Show', admin_service_company_path(@service_company) %> |
<%= link_to 'Back', admin_service_companies_path %>
